CrewFieldServiceManagement/TestClient/Service References/DataRepositoryServiceReference/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8732/CrewFieldServiceManagement/DataRepositoryServiceLib/DataRepositoryService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common.model" />
  <xs:complexType name="Shift">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Common.model" base="q1:IdentifiedObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Shift" nillable="true" type="tns:Shift" />
  <xs:complexType name="WorkingDay">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Common.model" base="q2:IdentifiedObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Day" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WorkingDay" nillable="true" type="tns:WorkingDay" />
</xs:schema>