CrewFieldServiceManagement/TestClient/Service References/DataRepositoryServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8732/CrewFieldServiceManagement/DataRepositoryServiceLib/DataRepositoryService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common.model" />
  <xs:import schemaLocation="http://localhost:8732/CrewFieldServiceManagement/DataRepositoryServiceLib/DataRepositoryService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Common" />
  <xs:import schemaLocation="http://localhost:8732/CrewFieldServiceManagement/DataRepositoryServiceLib/DataRepositoryService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Common.Model" />
  <xs:element name="AddEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common.model" minOccurs="0" name="_entity" nillable="true" type="q1:IdentifiedObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Common.model" minOccurs="0" name="AddEntityResult" nillable="true" type="q2:ArrayOfIdentifiedObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Common.model" minOccurs="0" name="_entity" nillable="true" type="q3:IdentifiedObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Common.model" minOccurs="0" name="RemoveEntityResult" nillable="true" type="q4:ArrayOfIdentifiedObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="_type" type="q5:EntityType" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Common.model" minOccurs="0" name="GetEntityByIdResult" nillable="true" type="q6:IdentifiedObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="_type" type="q7:EntityType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Common.model" minOccurs="0" name="GetEntityByTypeResult" nillable="true" type="q8:ArrayOfIdentifiedObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Common.model" minOccurs="0" name="GetUserByUsernameResult" nillable="true" type="q9:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Common.model" minOccurs="0" name="_entity" nillable="true" type="q10:IdentifiedObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEntityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateWorkingDays">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateWorkingDaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateWorkingDaysResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDayOfYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_day" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDayOfYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Common.Model" minOccurs="0" name="GetDayOfYearResult" nillable="true" type="q11:WorkingDay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>